* {
  transition: .5s;
}

body {
  background-color: lightsalmon;
}

h2 {
  margin-left: 10%;
}

#todo-body {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 2pc;
  max-width: 24pc;
  height: 80vh;
  padding: .5pc;
  overflow-y: auto;
}

.item {
  border-color: black;
  border-style: solid;
  border-radius: 3pc;
  border-width: 2px;
  font-size: 1.5pc;
  position: relative;
  padding: .5pc;
  margin: .5pc;
}

.item button {
  background-color: red;
  color: #fff;
  font-weight: 900;
  font-size: 1.2pc;
  border-style: none;
  border-radius: 1pc;
  padding: .4pc;
  margin: .2pc .5pc;
  position: absolute;
  right: 0;
  top: 0;
}

input {
  width: 0;
  height: 0;
  font-size: 1.2pc;
  position: absolute;
  right: 1pc;
  bottom: 1pc;
}

input:focus {
  height: 1.5pc;
  padding: .5pc;
  margin: .5pc;
  width: 15pc;
}

.add-button {
  position: fixed;
  right: 1pc;
  bottom: 1pc;
  font-size: 1.5pc;
  width: 5pc;
  border-radius: 50%;
  background-color: green;
  padding: .6pc;
  color: #fff;
}

.loading {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
  height: 10pc;
  width: 20pc;
  font-size: 4pc;
}